{% load browserid %}
<!DOCTYPE html>
<html>
<head>
    <title>Sun Observation Open Source</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/media/favicon.ico" />
    <link rel="stylesheet" href="/media/css/persona-button.css" type="text/css" media="screen" />
    <link rel="stylesheet/less" href="/media/app.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/media/js/less.js" ></script>
    <script type="text/javascript" src="/media/js/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/include.js"></script>
    <script type="text/javascript" src="/media/js/browserid.js"></script>
    {% browserid_js %}
</head>
<body>
{% browserid_info %}

{% block header %}
<div class="authentication">
    {% browserid_login text='Login' %}
</div>
{% endblock %}

</body>
</html>
