{% extends 'base.html' %}

{% block content %}

This is your dashboard!

<table class="table table-hover">
	<thead>
		<th>786</th>
		<th>lj</th>
		<th>dfg</th>
		<th>sgf</th>
		<th><sdfg/th>
	</thead>
	<tbody>
		<tr>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
		</tr>
		<tr>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
		</tr>
		<tr>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
		</tr>
		<tr>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
		</tr>
		<tr>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
			<td>sdfg</td>
		</tr>
	</tbody>
</table>

{% if observations %}
    {% for item in observations %}
        {{ item..creation }}
    {% endfor %}
{% endif %}
{% endblock %}
